<% if (post.categories && post.categories.length){ %>
  <span class="badge badge-primary">
    <%- list_categories(post.categories, {
      show_count: false,
      class: 'badge badge-primary',
      style: 'none',
      separator: ''
    }) %>
  </span>
<% } %>