<% if (site.posts.length){ %>
    <h3>Recent AI Articles</h3>
    <ul class="sidebar-module-list">
      <% site.posts.sort('date', -1).limit(8).each(function(post){ %>
        <li>
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) %>
    </ul>
<% } %>