$primary: #c75d07;
$red: #C62828;
$orange: #c75d07;
$yellow: #FFEB3B;
$green: #00695C;
$blue: #1565C0;
$lightblue: rgba(29,161,242,1.00);
$purple: #6A1B9A;
$pink: #AD1457;

.nav-link:hover {
    background: $primary;
    .headertop {
        background: $primary;
    }
}


.Conferences {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $red;
        .headertop {
            background: $red;
        }
    }

    a {
        color: $red; 
        &:hover {
            color: darken($red, 20%);
        }
    }
}

.Videos {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $purple;
        .headertop {
            background: $purple;
        }
    }

    .btn {
        background: $purple; 
        border: darken($purple, 20%);
        color: #fff;
        &:hover {
            background: darken($purple, 20%);
            color: #fff;
        }
    }
}

.Writing {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $blue;
        .headertop {
            background: $blue;
        }
    }

    time,
    .writing .card h2 {
        color: $blue;
    }

    a {
        color: $blue; 
        &:hover {
            color: darken($blue, 20%);
        }
    }
}

.Abstracts {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $green;
        .headertop {
            background: $green;
        }
    }

    a {
        color: $green; 
        &:hover {
            color: darken($green, 20%);
        }
    }

    .badge,
    .btn {
        background: $green; 
        border: darken($green, 20%);
        color: #fff;
        &:hover {
            background: darken($green, 20%);
            color: #fff;
        }
    }
}

.Contact {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $lightblue;
        .headertop {
            background: $lightblue;
        }
    }

    a {
        color: $lightblue; 
        &:hover {
            color: darken($lightblue, 20%);
        }
    }
}

.Biography {
    .active,
    .nav-link:hover,
    header .nav-item.active {
        background: $orange;
        .headertop {
            background: $orange;
        }
    }

    a {
        color: $orange; 
        &:hover {
            color: darken($orange, 20%);
        }
    }
}