@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue-webfont.eot');
    src: local('bebas'), local('bebas'),
        url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebasneue-webfont.woff2') format('woff2'),
        url('../fonts/bebasneue-webfont.woff') format('woff'),
        url('../fonts/bebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: local('icomoon'), local('icomoon'),
        url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff2') format('woff2'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'consolas';
    src: local('consolas'), local('consolas'),
         url('../fonts/Consolas?#iefix') format('embedded-opentype'),
         url('../fonts/Consolas.woff2') format('woff2'),
         url('../fonts/Consolas.woff') format('woff'),
         url('../fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AbhayaLibre-Regular';
    src: local('AbhayaLibre-Regular'), local('AbhayaLibre-Regular'),
         url('../fonts/AbhayaLibre-Regular-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/AbhayaLibre-Regular-webfont.woff2') format('woff2'),
         url('../fonts/AbhayaLibre-Regular-webfont.woff') format('woff'),
         url('../fonts/AbhayaLibre-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icon-github:before {
    content: "G";
}
.icon-linkedin:before {
    content: "\69";
}
.twitter-share-button span:before,
.icon-twitter:before {
    content: "\e606";
}
.icon-rss:before {
    content: "\ea9b";
}

.iconmenu:after {
    content: "M";
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-top: -10px;
    font-size: 20px;
}

.iconsearch:before {
    content: "S";
    font-family: icomoon;
    speak: none;
    text-transform: none;
}

.social li a,
.iconHome:before,
.iconContact:before,
.iconWriting:before,
.iconAbstracts:before,
.iconSpeaking:before,
.iconAbout:before,
.iconBio:before,
.iconVideos:before {
    font-family: icomoon;
    speak: none;
    text-transform: none;
    margin-top: 8px;
}

.iconHome:before{
    content: "H";
}
.iconContact:before{
    content: "C";
}
.iconWriting:before {
    content: "w";
}
.iconAbstracts:before,
.iconSpeaking:before {
    content: "\e91e";
}
.iconVideos:before{
    content: "\76";
}
.iconBio:before,
.iconAbout:before {
    content: "\e971";
}

pre,
code,
.code {
    font-family: consolas;
}

.footer {
    h4 {
        font-family: bebas;
    }
}