@include media-breakpoint-up(xs) { 
    footer .col,
    .card {
        width: 100% !important;
    }

    footer .col {
        flex-basis: unset;
        flex-grow: 0;
    }

    .searchbar {
        display: none !important;
    }
    header .navbar {
        padding: 0 !important;
    }  

    header {
        .headertop {            
            .navbar-toggler {
                display: inline-block !important;
            }
        }
    }

    .card.w-75,
    .card.w-50,
    .card.w-25 {
        .card-img-top {
            height: auto;
        }
    }
    
    .iconHome:before,
    .iconContact:before,
    .iconWriting:before,
    .iconAbstracts:before,
    .iconSpeaking:before,
    .iconAbout:before,
    .iconBio:before,
    .iconVideos:before {
        display: none;
    }

    .photocol {
        display: none;
    }

    .blogcontent {
        max-width: 100%;
        flex: 0 0 100%
    }

    .main {
        margin-top: 60px;
    }
    
 }
@include media-breakpoint-up(sm) { 
    .card {
        width: 100% !important;
    }

    footer .col {
        flex-basis: 0;
        flex-grow: 1;
    }

    .main {
        margin-top: 120px;
    }

    .card.w-75{
        .card-img-top {
            height: auto !important;
        }
    }
    
    .card.w-50{
        .card-img-top {
            height: 100px;
        }
        &.youtube .card-img-top {
            height: auto;
        }
    }
    .card.w-25{
        .card-img-top {
            height: 100px;
        }
        &.youtube .card-img-top {
            height: auto;
        }
    }

    .searchbar {
        display: none !important;
    }

    header .navbar {
        padding: 0 !important;
    } 
    
    header {
        .headertop {            
            .navbar-toggler {
                display: inline-block !important;
            }
        }
    }

    .iconHome:before,
    .iconContact:before,
    .iconWriting:before,
    .iconAbstracts:before,
    .iconSpeaking:before,
    .iconAbout:before,
    .iconBio:before,
    .iconVideos:before {
        display: inline-block;
    }

    .photocol {
        display: none;
    }

    .blogcontent {
        max-width: 100%;
        flex: 0 0 100%
    }
 }
@include media-breakpoint-up(md) { 
    footer .col {
        flex-basis: 0;
        flex-grow: 1;
    }

    .card.w-75{
        width: 75% !important;
        .card-body {
            height: 150px;
            overflow: hidden;
        }
        .card-img-top {
            height: auto !important;
        }
    }
    .card.w-50{
        width: 50% !important;

        .card-img-top {
            height: 100px;
        }
        &.youtube .card-img-top {
            height: auto;
        }
    }
    .card.w-25{
        width: 25% !important;

        .card-img-top {
            height: 100px;
        }
        &.youtube .card-img-top {
            height: auto;
        }
    }

    .card-body {
        height: 220px;
        overflow: hidden;
    }

    .main {
        margin-top: 140px !important;
    }
    

    .writing .card {
        .card-body  {
            height: 300px;
        }
    }

    header .headertop {
        text-align: center !important;
        .navbar-toggler {
            display: none !important;
        }
    }


    .nav-item {
        width: calc(95% / 6);
    }

    .iconHome:before,
    .iconContact:before,
    .iconWriting:before,
    .iconAbstracts:before,
    .iconSpeaking:before,
    .iconAbout:before,
    .iconBio:before,
    .iconVideos:before {
        display: inline-block;
    }

    .photocol {
        display: block;
    }

    .blogcontent {
        max-width: 66.6667%;
        flex: 0 0 66.6667%
    }

 }
@include media-breakpoint-up(lg) { 

 }
@include media-breakpoint-up(xl) { 

}

.col {
    height: 100%;
}

.Abstracts {
    .card-body {
        height: 350px;
    }
}