/* Main SCSS File */
$enable-responsive-font-sizes: true;
$font-family-base: 'Lora';

@import "./_colors.scss";
@import "./bootstrap.scss";
@import "./_gridsystem.scss";
@import "./_fonts.scss";

html {
    overflow-x: hidden;
    max-width: 100vw;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.hidden {
    display: none;
}

.card {
    border: none;
}

.col {
    background: none;
}

.photocol img {
    margin: 10px 0 10px;
}

.blogcontent img {
    margin: 15px 0 15px;
}

.footer {
    background: #222;
    color: #fff;
    min-height: 300px;
    margin-top: 20px;
    padding: 50px;

    a {
        color: #fff;
    }

    ul {
        font-family: 'Lexend';
        margin-left: -20px;
        li {
            font-size: 1rem;
            padding: 5px 0;
            
            span {
                margin: auto 5px;
                font-size: 0.9rem;
            }
        }
    }
}

.disclaimer {
    font-family: bebas, Impact;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 20px;
}

body {
    font-size: 21px;
    line-height: 1.4;
}

.lead {
    font-size: 28px;
    line-height: 1.5;
}

header {

    &.active {
        background: $primary;
        .headertop {
            background: $primary;
            color: #fff !important;
        }

        .active a {
            color: #fff !important;
        }
    }

    .headertop {
        background: #f8f9fa;
        text-align: left;
        color: #000;

        svg {
            color: #000;
        }

        a {
            color: #000;
        }

        
        .navbar-toggler {
            display: none;
            margin-left: 0;
            margin-bottom: 5px;
            padding: .25rem !important;
            background: #000;
            border-radius: 1px;
            margin: 4px;
        }
        .navbar-toggler:hover {
            border: none;
            outline: none;
        }
    }

    .navbar-brand {
        font-family: bebas, Impact;
        text-transform: uppercase;
        vertical-align: middle;
    }

    ul {
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-item {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-family: 'bebas';
        font-family: bebas, Impact;
        text-transform: uppercase;
        font-size: 18px;
        border-right: 1px solid #ccc;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        
        &.home:hover {
            background: $primary !important;
            color: #fff !important;   
        }   
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-link {
        display: inline-block;
        width: 100%;

        &:hover {
            color: #fff !important;
        }
    }
}

.badge a {
    color: #fff;
}

.w-75 .h1 {
    font-size: 28px;
}

.w-25 .h1 {
    font-size: 18px;
}

.card {

    .card-header {
        font-size: 80%;
        font-family: 'Lexend';
    }
    .card-foot {
        margin: 20px;
    }

    &.tall .card-body {
        height: 100%;
        font-size: 100%;
    }

    .card-body {
        font-size: 80%;
    }
}

.blogcontent {

    word-break: break-word;

    .header {
        font-size: 80%;
        font-family: 'Lexend';
        margin-bottom: 30px;

        * {
            position: relative;
        }

        .IN-widget {
            top: -8px;
        }
    }
    .lead,
    p {
        &:first-of-type {
            font-size: 1.5rem;
            line-height: 1.4;
            font-family: 'Lexend';
        }    
    }

    h2, .h2 {
        margin-top: 40px;
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;   
    }

    blockquote {
        p,
        p {
            &:first-of-type {
                font-size: 1.3rem;
                line-height: 1.5;
                color: #484848;
                font-style: italic;
            }    
        }
    }

    figure,
    img {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    pre,
    figure .code {
        max-width: 720px;
    }

    .badge {
        vertical-align: top;
    }
}

.photocol {
    h3 { 
        font-size: 1.4rem;
        text-align: center;
    }
}

.pagination {
    margin-top: 20px;
    .page-number,
    .extend {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #fff;;
        background-color: $primary;
        border: 1px solid #000;
        text-decoration: none;

        &:hover {
            background-color: darken($primary, 10%);
        }
    }
}

.writing .card {
    h2 {
        font-size: 1.5rem;
        color: $primary;
    }
    .date {
        color: $primary;
        font-size: 1rem;
    }
    .card-body  {
        height: 100%;
        font-size: 80%;
    }
}

.profile {

    font-size: 0.9rem;
    text-align: justify;

    h2 {
        font-size: 1.4rem;
    }

    .headshot {
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        border: 5px solid #fff;
        overflow: hidden;
        margin-left: calc(50% - 50px);
        object-position: -5px 0px !important;
        img {
            height: 100px;
            width: 100px;
            display: block;       
        }
    }

    .icon {
        padding: 5px;
        box-sizing: content-box;
    }

}

.videos {
    .youtubeblock {
        margin-bottom: 20px;

        .shadow-lg {
            padding: 10px;
        }
    }

    .youtube {
        .card-body {
            height: 120px;
            font-size: 80%;
        }
        .foot {
            text-align: center;
            padding: 10px;
        }
    }
}

.abstracts  {
    h2 {
        font-size: 120%;
    }
    .card-body{
        font-size: 80%;
    }
}

.Events .blogcontent ul li p {
    font-size: 65%;
}

.social {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    display: block;

    li {
        float: left;
        list-style: none;
        margin-right: 5px;

        a {
            color: $primary;
        }
        a:hover {
            color: darken($primary, 20%);
            text-decoration: none;
        }

        span {
            display: none !important;
        }
    }

}

.shadow {
    box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.35) !important;
}

footer.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* center the blockquote in the page */
.blockquote-wrapper {
    height: 100vh;
    margin-top: 20px;
 }
 
 /* Blockquote main style */
 .blockquote h4 {
     position: relative;
     max-width: 620px;
 }
 
 /* Blockquote header */
 .blockquote h1 {
     font-family: 'Abril Fatface';
     position: relative; /* for pseudos */
     color: #030303;
     font-size: 2.5rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     border: 2px solid #030303;
     border: solid 2px;
     border-radius:20px;
     padding: 25px;
 }
 
 /* Blockquote right double quotes */
 .blockquote h1:after {
     content:"";
     position: absolute;
     border: 2px solid #030303;
     border-radius: 0 50px 0 0;
     width: 60px;
     height: 60px;
     bottom: -62px;
     left: 50px;
     border-bottom: none;
     border-left: none;
     z-index: 3; 
 }
 
 .blockquote h1:before {
     content:"";
     position: absolute;
     width: 80px;
     border: 6px solid #292a2b;
     bottom: -3px;
     left: 50px;
     z-index: 2;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
     .blockquote h1 {
         font-size: 3rem;
         line-height: 1.2;
    }
 
 }
 
 /* Blockquote subheader */
 .blockquote h4,
 .Biography .blockquote figcaption {
     position: relative;
     color: $primary;
     font-size: 1.3rem;
     font-weight: 400;
     line-height: 1.2;
     margin: 0;
     padding-top: 15px;
     z-index: 1;
     margin-left:150px;
     padding-left:12px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }

 .relatedPosts li a {
    text-transform: capitalize;
 }

 .homecard {
     h1, h2 {
         font-size: 70%;
     }
     p {
         font-size: 80%;
         color: #181818;
     }

    blockquote {
        text-align: center;
    }

    blockquote p {
        padding: 15px 50px;
        background: #eee;
        border-radius: 5px;
    }
    
    blockquote p::before {
        content: '\201C';
    }
    
    blockquote p::after {
        content: '\201D';
    }

    figcaption {
        text-align: right;
        font-size: 12px;
        cite, em {
            font-style: italic;
        }
    }

    figure {
        border: none;
    }
    border: none !important;

 }

 .h1,
 .blogcontent .h1 {
    font-family: 'bebas';
 }
