<%- partial('_partial/head'), {}, {cache: true}%>

  <div class="container main">    
    <div class="row align-items-center">

      <%- body %>

    </div>
  </div>

<%- partial('_partial/footer') %>
