
    <div class="card w-100 p-2 float-md-left tall">
      <div class="shadow-sm">
        <div class="card-body homecard">
          <h1>Conversational AI Blog</h1>
          <p>(Beginner) Tutorials, Guides and FAQs on Chatbots, Voice Bots, Dialogflow Essentials and Dialogflow CX.</p>
        
          <figure>
              <blockquote cite="https://www.leeboonstra.dev">
                  <p>Welcome to my conversational AI developer blog. As a developer advocate for Google, I'm the bridge between Google's engineering team and you; chatbot developers, UI/UX designers, conversational experts, linguists, and contact center engineers.</p>
              </blockquote>
              <figcaption>—Lee Boonstra, <cite>www.leeboonstra.dev</cite></figcaption>
          </figure>
        </div>
      </div>
    </div>
    
  <% page.posts.each(function(post, i){ %>
  
    <% if (i== 0) { %>
      <%- partial('article', {post: post, index: true, highlight: true}) %>
    <% } else { %>
        <%- partial('article', {post: post, index: true, highlight: false}) %>
    <% }%>

   
 <% })%>
