<div class="container about">
    <div class="row justify-content-md-center">
      <div class="col-8 blogcontent">
  
        <h1><%-page.title %></h1>
  
        <%- page.content %>

        <a class="twitter-timeline" data-lang="en" href="https://twitter.com/ladysign?ref_src=twsrc%5Etfw">Tweets by ladysign</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      
      </div>
 
      <div class="col-4 photocol">

          <h3>Photo's</h3>
          <a href="/images/bio/leeboonstra1.jpg">
          <img src="/images/bio/leeboonstra1-small.jpg" class="rounded mx-auto d-block" alt="Lee Boonstra, Google Developer Advocate and public speaker." loading="lazy">
          </a>
          <a href="/images/bio/leeboonstra2.jpg">
          <img src="/images/bio/leeboonstra2-small.jpg" class="rounded mx-auto d-block" alt="Lee Boonstra, Google Developer Advocate and public speaker." loading="lazy">
          </a>

          <h3>Social Links</h3>
          <ul>
            <li><a href="https://twitter.com/ladysign">Twitter (@ladysign)</a></li>
            <li><a href="https://github.com/savelee/">Github (savelee)</a></li>
            <li><a href="http://www.leeboonstra.dev">Blog (www.leeboonstra.dev)</a></li>
            <li><a href="https://www.linkedin.com/in/leeboonstra/n">LinkedIn (leeboonstra)</a></li>
            <li><a href="https://www.leebooonstra.dev/speaker">Past speaking events</a></li>
            <li><a href="https://www.leebooonstra.dev/videos">Videos of me</a></li>
            <li><a href="https://speakerdeck.com/savelee/">Previous presentations</a></li>
          </ul>

      </div>
    </div>
  </div>
