<footer class="row align-items-start footer">
    <h3 class="hidden">More articles to Dialogflow Conversational AI content</h3>
    <div class="col">
        <%- partial('_widget/category') %>

        <h4>Dialogflow</h4>
        <ul>
            <li><a target="_blank" rel="noreferrer noopener" href="https://dialogflow.cloud.google.com?utm_source=blog&utm_medium=partner&utm_campaign=CDR_lee_aiml_leedialogflowblog_personal_">Dialogflow Essentials Console</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://dialogflow.cloud.google.com/cx/projects?utm_source=blog&utm_medium=partner&utm_campaign=CDR_lee_aiml_leedialogflowblog_personal_">Dialogflow CX Console</a></li>
        </ul>

    </div>
    <div class="col">
        <h4>External Sites</h4>
        <ul>
            <li><a target="_blank" rel="noreferrer noopener" href="https://gist.github.com/savelee">My Gists Code Snippets</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="http://www.github.com/savelee">My Github</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="http://speakerdeck.com/savelee/">My Slidedecks</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="http://www.amazon.com/Lee-Boonstra/e/B00MRXE3Q0/ref=sr_ntt_srch_lnk_1?qid=1436781780&amp;sr=8-1">My Book</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="http://twitter.com/ladysign">My Twitter</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/leeboonstra">
            My Linkedin</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://stackoverflow.com/users/12742880/lee-boonstra">My Stackoverflow Profile</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://medium.com/@ladysign">My Medium.com articles</a></li>
        </ul>
    </div>
    <div class="col">
        <%- partial('_widget/recent_posts') %>
    </div>
</footer>
<div class="disclaimer d-flex justify-content-end">
  <span class="text-muted">Disclaimer: The opinions stated here are my own, not those of my company. - 2021 &reg; Lee Boonstra</span>
</div> 

<script src="/bundle.js" async></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85081556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-85081556-1');
</script>