<footer class="row align-items-start footer">
    <h3 class="hidden">More articles to Dialogflow Conversational AI content</h3>
    <div class="col">
        <%- partial('_widget/category') %>
    </div>
    <div class="col">
        <h4>External Sites</h4>
        <ul>
            <li><a target="_blank" rel="noreferrer noopener" href="https://gist.github.com/savelee">My Gists Code Snippets</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="http://www.github.com/savelee">My Github</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://www.amazon.com/Definitive-Guide-Conversational-Dialogflow-Google-ebook/dp/B097XX9B3R/ref=sr_1_1?crid=1PMMMKKA1BLFC&keywords=the+definitive+guide+to+conversational+ai&qid=1648119757&s=digital-text&sprefix=the+definitive+guide+to+conversational+ai%2Cdigital-text%2C141&sr=1-1">My Book</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/leeboonstra">
            My Linkedin</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://stackoverflow.com/users/12742880/lee-boonstra">My Stackoverflow Profile</a></li>
            <li><a target="_blank" rel="noreferrer noopener" href="https://amazon.com/author/lee_boonstra">Amazon Author Page</a></li>
            
        </ul>
    </div>
    <div class="col">
        <%- partial('_widget/recent_posts') %>
    </div>
</footer>
<div class="disclaimer d-flex justify-content-end">
  <span class="text-muted">Disclaimer: The opinions stated here are my own, not those of my company. - 2025 &reg; Lee Boonstra</span>
</div> 

<script src="/bundle.js" async></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BBBHKHEDYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BBBHKHEDYB');
</script>