<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="https://schema.org/Blog">
<head>
  <meta charset="utf-8">
  <title>LeeBoonstra.dev | Engineering blog from a Google developer advocate on Conversational AI / Dialogflow.</title>
  <meta name="description" content="Engineering blog from a Google developer advocate on Conversational AI (Dialogflow). Learn more about Chatbots, Dialogflow, Conversational AI, Contact Center AI, Customer Care, Google Assistant.">
  <meta name="keywords" content="Googler, Dialogflow, JavaScript, Contact Center AI, Customer Care, Chatbots, Voicebots, Conversational AI, Ext JS, Sencha Touch, Cordova, Machine Learning, AI, ML, Machine Learning for Developers, Cloud, GCP, Public Cloud, Ext JS engineer, Google Sales Engineer, Public Speaker, Google Customer Engineer, Googler Engineer, Sencha Sales Engineer, Sencha Trainer, Dev-ops, Dev-ops Specialist, Public Speaker, Machine Learning Public Speaker, Cloud Architect, Devrel, Developer Relations, Developer Expert, Chatbot expert, Actions on Google, Dialogflow expert, Google Cloud Sales, GCP Engineer, Sencha Trainings, JavaScript Developer, Front-end Developer, Lead front-end developer, Client-side Developer, O&#39;Reilly book author, JavaScript Programmer, Node JS Developer, Client-side code, Lead Developer JavaScript Amsterdam, JavaScript Evangelist, Google Assistant Expert, Chatbot Expertise, Chatbot Help, Cloud Help, GCP Help, Google Cloud Solutions, Google Cloud Consultant, Dialogflow Enterprise, Bots Chat agents, HTML5 &amp; CSS3, Sencha Touch Mobile Apps, Enterprise App developer">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="640">
  <link rel="canonical" href="https://www.leeboonstra.dev/">

  <meta name="theme-color" content="#fafafa">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="manifest" href="/manifest.json">  
  <link rel="alternate" href="/atom.xml" title="LeeBoonstra.dev | Developer blog" type="application/atom+xml">
  
  <meta name="robots" content="all">
  <meta name="yandex-verification" content="adf3dcb0d559ea5a">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="//plus.google.com/117712452932146916020" rel="author">
  <link rel="image_src" type="image/png" href="https://www.leeboonstra.dev/images/screen.png">
  <link rel="profile" href="//gmpg.org/xfn/11"><link rel="pingback" href="https://www.leeboonstra.dev">
  <meta property="og:type" content="website">
  <meta property="og:title" content="LeeBoonstra.dev | Engineering blog from a Google developer advocate on Conversational AI / Dialogflow.">
  <meta property="og:url" content="https://www.leeboonstra.dev/index.html">
  <meta property="og:site_name" content="LeeBoonstra.dev | Engineering blog from a Google developer advocate on Conversational AI / Dialogflow.">
  <meta property="og:description" content="Developer blog of senior developer advocate &amp; Googler; Lee Boonstra. Ex Sencha trainer. Learn more about Chatbots, Dialogflow, Conversational AI, Contact Center AI, Customer Care, Google Assistant.">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://www.leeboonstra.dev/images/screen.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="LeeBoonstra.dev | Developer blog">
  <meta name="twitter:description" content="Developer blog of senior developer advocate &amp; Googler; Lee Boonstra. Ex Sencha trainer. Learn more about Chatbots, Dialogflow, Conversational AI, Contact Center AI, Customer Care, Google Assistant.">
  <meta name="twitter:image" content="https://www.leeboonstra.dev/images/screen.png">
  <meta name="twitter:creator" content="@ladysign"></head>

  <link rel="preconnect" href="https://www.leeboonstra.dev">
  
  <link itemprop="mainEntityOfPage" href="https://www.leeboonstra.dev">
  <meta itemprop="author" content="Lee Boonstra">
  <meta itemprop="creator" content="Lee Boonstra">
  <meta itemprop="publisher" content="Lee Boonstra">

  <link type="text/plain" rel="author" href="https://www.leeboonstra.dev/humans.txt">

  <link rel="stylesheet" href="/main.css">

</head>
<body>

  <header class="shadow">

    <div class="d-block w-100 headertop">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="iconmenu"></span>
      </button>
      <a class="navbar-brand" href="#">LeeBoonstra.dev</a>
      <form class="form-inline mt-2 mt-md-0 searchbar">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <% for (var prop in theme.menu){ %>
            <li class="nav-item icon<%= prop %> <%= is_current(theme.menu[prop]) ? 'active' : '' %> text-center">
              <a class="nav-link" href="<%- url_for(theme.menu[prop]) %>"><%= prop %></a>
            </li>
          <% } %>

        </ul>
      </div>
    </nav>
  </header>
