<section class="profile">
    <span class="headshot" >
            <picture>
                <img class="card-img-top" src="/images/small_profile.jpg" style="object-position: -5px 0;" alt="Lee Boonstra"/>
            </picture>
    </span>

    <h2>Lee Boonstra</h2>
    <div>
    <p>Lee Boonstra
        (they/them) has been a presence in the tech world since 2007, wearing many hats from software engineer to prompt engineer, web developer to technical trainer, and developer advocate.
    </p>
    <p>    
        With eight years of experience at <b>Google</b> under their belt, they now hold the role of SWE Tech Lead at the Google Cloud office of the CTO. Leading innovation projects, Lee aims to disrupt markets and foster collaboration globally. Their expertise in Conversational and Voice technology, alongside (Generative) AI, has led to recognition as a respected public keynote speaker and published author for O’Reilly and Apress. Lee eases tech headaches and celebrates those light bulb moments.
    </p>
    <picture>
        <source srcset="/images/small_googlelogo.webp 150w">
        <img src="/images/small_googlelogo.jpg" alt="Lee Boonstra" style="display: block;" width="150" height="113" alt="Google">
    </picture>
    <p>
        Lee wrote a book for O’Reilly: Hands-on Sencha Touch 2 and lately: the Definitive Guide to Conversational AI with Dialogflow and Google Cloud for Apress.
        And the <a href="https://www.kaggle.com/whitepaper-prompt-engineering">Google Prompt Engineering whitepaper</a>.
    </p>
    <div class="books">
    <picture srcset="/images/mall_prompting-paper.webp 76w" style="float: left;">
        <img src="/images/small_prompting-paper.png" width="76" height="100" style="display: block;" class="border mb-3" alt="My book">
    </picture>
    <picture style="float: left;">
        <source srcset="/images/small_apress-book.webp 76w">
        <img src="/images/small_apress-book.jpg" width="76" height="100" style="display: block;" class="border mb-3" alt="My book">
    </picture>
    <picture>
        <source>
        <img src="/images/small_leeboonstra-book-large.jpg" width="76" height="100" style="display: block;" class="border mb-3" alt="My book">
    </picture> 
    </div>
    </div>
    <ul class="social">
        <li><a href="http://github.com/savelee/" rel="noreferrer noopener" target="_blank" class="icon-github">
            <svg class="icon icon-igithub"><use xlink:href="#icon-igithub"></use></svg><span class="name"> icon-igithub</span>
            <span>Lee's code on Github</span></a></li>
        <li><a href="http://nl.linkedin.com/in/leeboonstra/" rel="noreferrer noopener" target="_blank" class="icon-linkedin">
            <svg class="icon icon-ilinkedin"><use xlink:href="#icon-ilinkedin"></use></svg><span class="name"> icon-ilinkedin</span>
            <span>Find Lee on LinkedIn</span></a></li>
        <% if (config.rss){ %>
          <li><a id="nav-rss-link" class="icon-rss" href="<%- url_for(config.rss) %>" title="<%= __('rss_feed') %>">
            <svg class="icon icon-irss"><use xlink:href="#icon-irss"></use></svg><span class="name"> icon-irss</span>
        </a></li>
        <% } %>
    </ul>
</section>