<section class="profile">
    <span class="headshot" >
        <a href="/images/large_profile.webp">
            <picture>
                <source srcset="/images/small_profile.webp">
                <img class="card-img-top" src="/images/small_profile.jpg" alt="Lee Boonstra" title="On this website, you can learn how to use Dialogflow. You can read how NLP / AI chatbots work. You will figure out the difference between Dialogflow Essentials and Dialogflow CX. Incorporate Dialogflow integrations such as Facebook Messenger, Google Assistant, Slack, Google Chat/Hangouts. I will tell you how to custom build chat and voice bots and integrate these in your website or mobile (Android, iOS) app with Flutter and Firebase. Articles about fulfillments, webhooks, and contact centers. I will share Github code snippets, use cases, and examples. Anything missing? Feel free to contact me on Twitter (@ladysign)."/>
            </picture>
        </a>
    </span>

    <h2><a href="https://plus.google.com/117712452932146916020/" rel="author me noreferrer noopener" target="_blank">Lee Boonstra</a></h2>
    <div>
    <p><a href="https://plus.google.com/117712452932146916020/" rel="author me noreferrer noopener" target="_blank">Lee Boonstra</a> 
        is a conversational AI developer advocate and applied AI engineer at Google. In this role, she is focusing on Dialogflow, Contact Center AI & Speech technology. She is a public speaker and a published author.
    </p>
    <picture>
        <source srcset="/images/small_googlelogo.webp 150w">
        <img src="/images/small_googlelogo.jpg" alt="Lee Boonstra" style="display: block;" width="150" height="113" alt="Google">
    </picture>
    <p>
        Lee wrote a book for O’Reilly: Hands-on Sencha Touch 2 and is currently working on the Google Conversational AI book at Apress.
    </p>
    <p>
        Lee lives in Amsterdam, the Netherlands, and is a rainbow mommy.
    </p>
    <picture>
        <source srcset="/images/small_leeboonstra-book-large.webp 76w">
        <img src="/images/small_leeboonstra-book-large.jpg" width="76" height="100" style="display: block;" class="border mb-3" alt="My book">
    </picture>
    </div>
    <ul class="social">
        <li><a href="http://github.com/savelee/" rel="noreferrer noopener" target="_blank" class="icon-github">
            <svg class="icon icon-igithub"><use xlink:href="#icon-igithub"></use></svg><span class="name"> icon-igithub</span>
            <span>Lee's code on Github</span></a></li>
        <li><a href="http://www.twitter.com/ladysign" rel="noreferrer noopener" target="_blank" class="icon-twitter">
            <svg class="icon icon-itwitter"><use xlink:href="#icon-itwitter"></use></svg><span class="name"> icon-itwitter</span>
            <span>Find Lee on Twitter</span></a></li>
        <li><a href="http://nl.linkedin.com/in/leeboonstra/" rel="noreferrer noopener" target="_blank" class="icon-linkedin">
            <svg class="icon icon-ilinkedin"><use xlink:href="#icon-ilinkedin"></use></svg><span class="name"> icon-ilinkedin</span>
            <span>Find Lee on LinkedIn</span></a></li>
        <% if (config.rss){ %>
          <li><a id="nav-rss-link" class="icon-rss" href="<%- url_for(config.rss) %>" title="<%= __('rss_feed') %>">
            <svg class="icon icon-irss"><use xlink:href="#icon-irss"></use></svg><span class="name"> icon-irss</span>
        </a></li>
        <% } %>
    </ul>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "image": "https://www.leeboonstra.com/images/profile.jpg",
            "jobTitle": "Applied AI Engineer and Senior Developer Advocate at Google",
            "description": "<% config.description %>",
            "address": {
                "@type": "PostalAddress",
                "addressCountry": "Netherlands",
                "addressLocality": "Amsterdam"
            },
            "worksFor": {
                "@type": "Organization",
                "alternateName": "Google Cloud",
                "name": "Google"
            },
            "name": "Lee Boonstra",
            "birthDate": "1983-06-16T00:00+01:00",
            "gender": "female",
            "nationality": "Dutch",
            "url": "http://www.leeboonstra.dev",
            "sameAs" : [ "https://nl.linkedin.com/in/leeboonstra",
            "http://twitter.com/ladysign",
            "https://plus.google.com/117712452932146916020/"]
        }
    </script>
</section>