<%- partial('_partial/head'), {}, {cache: true} %>

  <div class="container main">    
    <div class="row">

      <%- body %>

    </div>
  </div>
  <% if (page.total > 1){ %>
    <%- partial('_widget/pagination', {type: 'page'}) %>
  <% } %>

  <!-- Clearfix to prevent footer from floating next to content when there are fewer posts -->
  <div class="clearfix"></div>

<%- partial('_partial/footer') %>
