<%- partial('_partial/head'), {}, {cache: true} %>

  <div class="container main">    
    <div class="row">

      <%- body %>

    </div>
  </div>
  <% if (page.total > 1){ %>
    <%- partial('_widget/pagination', {type: 'page'}) %>
  <% } %>

<%- partial('_partial/footer') %>
