<div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
      <h1><%-page.title %></h1>
  
      <div class="card w-50 p-2 float-md-left" >
        <div class="shadow-sm">
          <img class="card-img-top" src="https://dummyimage.com/300x200/000/fff" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="card w-50 p-2 float-md-left" >
        <div class="shadow-sm">
          <img class="card-img-top" src="https://dummyimage.com/300x200/000/fff" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="card w-50 p-2 float-md-left" >
        <div class="shadow-sm">
          <img class="card-img-top" src="https://dummyimage.com/300x200/000/fff" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="card w-50 p-2 float-md-left" >
        <div class="shadow-sm">
          <img class="card-img-top" src="https://dummyimage.com/300x200/000/fff" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">Read more</a>
          </div>
        </div>
      </div>
  
    </div>
    </div>
  </div>