<div class="container abstracts">
    <div class="row justify-content-md-center">
      <div class="col">
      <h1><%-page.title %></h1>
  
      <% site.categories.findOne({name: 'Abstract'}).posts.forEach(function(post) { %>
      <div class="card w-50 p-2 float-md-left" >
        <div class="shadow-sm">
          <% if (post.featured_image){ %>
            <img class="card-img-top" src="<%- post.featured_image %>" alt="<%-post.title-%>">
          <% } %>
          <div class="card-body">
            <p class="card-text"><%-post.title-%></p>
            <a href="#" class="btn btn-primary stretched-link">Read more</a>
          </div>
        </div>
      </div>
      <% }) %>
  
    </div>
    </div>
  </div>