<% if (pagination == 2){ %>
  <% page.posts.each(function(post, i){ %>
    <% if (i== 0) { %>
        <%- partial('article', {post: post, index: true, highlight: true}) %>
    <% } else { %>
        <%- partial('article', {post: post, index: true, highlight: false}) %>
    <% }%>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
