<section class="profile">
    <span class="headshot" >
        <a href="/images/profile.jpg">
            <img src="/images/profile_small.jpg" alt="Lee Boonstra" />
        </a>
    </span>

    <h2><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a></h2>
    <div>
    <p><a href="https://plus.google.com/117712452932146916020/" rel="author me" target="_blank">Lee Boonstra</a> 
        is a Conversational AI Developer Advocate at Google. In this role she is focusing on Dialogflow, Contact Center AI & Speech technology. She is based in Amsterdam, and an O’Reilly published author.
    </p>
    <img src="/images/googlelogo.png" width="150" alt="Google" />
    <p>
        Prior to Google, Lee worked at Sencha Inc. and wrote a book for O’Reilly Hands-on Sencha Touch 2.
    </p>
    </div>
    <ul class="social">
        <li><a href="http://github.com/savelee/" target="_blank" class="icon-github"><span>Github</span></a></li>
        <li><a href="http://www.twitter.com/ladysign" target="_blank" class="icon-twitter"><span>Twitter</span></a></li>
        <li><a href="http://nl.linkedin.com/in/leeboonstra/" target="_blank" class="icon-linkedin"><span>LinkedIn</span></a></li>
        <% if (config.rss){ %>
          <li><a id="nav-rss-link" class="icon-rss" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a></li>
        <% } %>
    </ul>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "image": "https://www.leeboonstra.com/images/profile.jpg",
            "jobTitle": "Applied AI Engineer and Developer Advocate at Google",
            "description": "Lee Boonstra is a Conversational AI Developer Advocate at Google. In this role she is focusing on Dialogflow, Contact Center AI & Speech technology. She is based in Amsterdam, and an O’Reilly published author.",
            "address": {
                "@type": "PostalAddress",
                "addressCountry": "Netherlands",
                "addressLocality": "Amsterdam"
            },
            "worksFor": {
                "@type": "Organization",
                "alternateName": "Google Cloud",
                "name": "Google"
            },
            "name": "Lee Boonstra",
            "birthDate": "1983-06-16T00:00+01:00",
            "gender": "female",
            "nationality": "Dutch",
            "url": "http://www.leeboonstra.com",
            "sameAs" : [ "https://nl.linkedin.com/in/leeboonstra",
            "http://twitter.com/ladysign",
            "https://plus.google.com/117712452932146916020/"]
        }
    </script>
</section>