@include media-breakpoint-up(xs) { 
    .card {
        width: 100% !important;
    }
    .searchbar {
        display: none !important;
    }
    header .navbar {
        padding: 0 !important;
    }  

    header {
        .headertop {            
            .navbar-toggler {
                display: inline-block !important;
            }
        }
    }
    
 }
@include media-breakpoint-up(sm) { 
    .card {
        width: 100% !important;
    }

    .searchbar {
        display: none !important;
    }

    header .navbar {
        padding: 0 !important;
    } 
    
    header {
        .headertop {            
            .navbar-toggler {
                display: inline-block !important;
            }
        }
    }

 }
@include media-breakpoint-up(md) { 
    .card.w-75{
        width: 75% !important;
        .card-body {
            height: 150px;
            overflow: hidden;
        }
    }
    .card.w-50{
        width: 50% !important;
    }
    .card.w-25{
        width: 25% !important;
    }

    .card-body {
        height: 220px;
        overflow: hidden;
    }

    header .headertop {
        text-align: center !important;
        .navbar-toggler {
            display: none !important;
        }
    }


 }
@include media-breakpoint-up(lg) { 

 }
@include media-breakpoint-up(xl) { 

}

.col {
    height: 100%;
}