/* Main SCSS File */
$enable-responsive-font-sizes: true;
$font-family-base: 'AbhayaLibre-Regular';

//You could customize your imports in bootstrap.scss
@import "bootstrap";
@import "_gridsystem";
@import "_fonts";

.hidden {
    display: none;
}

.card {
    border: none;
}

.col {
    background: none;
}

.main {
    margin-top: 56px;
}

.header {
    height: 65px;
}

.photocol img {
    margin: 10px 0 10px;
}

.blogcontent img {
    margin: 15px 0 15px;
}

.pagination {
    margin-top: 20px;
}

.footer {
    background: #222;
    color: #fff;
    min-height: 300px;
    margin-top: 20px;
    padding: 50px;

    a {
        color: #fff;
    }

    ul {
        margin-left: -20px;
        li {
            font-size: 1.2rem;
            span {
                margin: auto 5px;
                font-size: 0.9rem;
            }
        }
    }
}

.disclaimer {
    font-family: bebas;
    font-size: 1rem;
    padding: 0 20px;
}

body {
    font-size: 21px;
    line-height: 1.4;
}

.lead {
    font-size: 28px;
    line-height: 1.5;
}

header {

    .headertop {
        background: #f8f9fa;
        text-align: left;

        a {
            color: #000;
        }

        
        .navbar-toggler {
            display: none;
            border: 1px solid #ccc;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }

    .navbar-brand {
        font-family: 'bebas';
    }

    ul {
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-item {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-family: 'bebas';
        font-size: 18px;
        width: calc(95% / 6);
        border-right: 1px solid #ccc;
        display: inline-block;
        padding: 0;
        margin: 0;
        vertical-align: middle;
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-link {
        display: inline-block;
        width: 100%;

        &.active,
        &:hover {
            background: #000;
            color: #fff !important;
        }
    }
}

.badge a {
    color: #fff;
}

.card {
    .h1 {
        font-size: 20px;
    }
    .card-header {
        font-size: 80%;
    }
    .card-foot {
        margin: 20px;
    }

    &.tall .card-body {
        height: 100%;
    }
}

.blogcontent {

    .header {
        font-size: 80%;
    }
    .lead,
    p {
        &:first-of-type {
            font-size: 1.6rem;
            line-height: 1.5;
        }    
    }

    h2, .h2 {
        margin-top: 40px;
        font-size: 1.6rem;
    }

    blockquote {
        p,
        p {
            &:first-of-type {
                font-size: 1.3rem;
                line-height: 1.5;
                color: #484848;
                font-style: italic;
            }    
        }
    }

    figure,
    img {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    pre,
    figure .code {
        max-width: 720px;
    }
}

.photocol {
    h3 { 
        font-size: 1.4rem;
        text-align: center;
    }
}

.pagination {
    .page-number,
    .extend {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
        text-decoration: none;

        &:hover {
            background-color: #ccc;
        }
    }

}

.writing .card {
    h2 {
        font-size: 1.5rem;
        color: $primary;
    }
    .date {
        color: $primary;
        font-size: 1rem;
    }
    .card-body  {
        height: 100%;
    }
}